{% extends 'base.html' %}
{% block title %} ABOUT {% endblock title %}
{% load static %}
{% block body %}


{#<section class="Hero">#}
{#        <article>#}
{#          <img class="background"#}
{#                src="/media/assets/images/FJ-photo-286625.jpg"#}
{#               alt="" />#}
{##}
{#          <div class="container text-start">#}
{#            <h1>Um félagið</h1>#}
{#          </div>#}
{#        </article>#}
{#        <div class="bottom">#}
{#          <img src="/media/assets/images/h1-rev-bottom.png" alt="" />#}
{#        </div>#}
{#      </section>#}

      <section class="About_section">
        <div class="container">
          <div class="row">
            <div class="col-lg align-self-center">
              <span class="italic">Félag um Foreldrajafnrétti.</span>
              <h3>Stefna og starfsemi</h3>
              <p>
                Félag um foreldrajafnrétti (áður félag ábyrgra feðra) var stofnað árið 1997 til að vinna að bættum samskiptum feðra við börn sín, en stofnendum félagsins fannst mikið vanta upp á jafna stöðu mæðra og feðra við skilnað. Félagið skipti um nafn árið 2007 og hefur breytt áherslum sínum.
              </p>
              <p> Foreldrahlutverkið er ekki kyngert lengur og foreldrahlutverkið skilgreint út frá hagsmunum barnanna fremur en hagsmunum foreldranna. Félagið telur að verulega sé brotið á réttindum barna á Íslandi til að umgangast báða foreldra sína ríkulega eftir skilnað. Ljóst er að lagaumhverfið er úrellt á mörgum sviðum í þessum málaflokki og stuðlar enn að því að mæður beri meiri ábyrgð og skyldur við umönnun barna eftir skilnað. Mikilvægt er breyta lögum á þann hátt að;
              </p>
              <p>Dómarar fái heimild til að dæma sameiginlega forsjá Stuðla að mest mestri umgengni við báða foreldra Börn geti átt tvö lögheimili og dvalið á þeim báðum
Meðlagsgreiðslukerfið verði endurskoðað frá grunni
Kostnaður við umgengni verði sameiginlegur
Sjálfvirk forsjárskylda sambúðaraðila lögheimilisforeldris verði felld niður
Hert viðlög í refsilöggjöf við tálmunum á umgengi.
               <p>Félagið hefur unnið að því að efla umræðu í samfélaginu um stöðu skilnaðarbarna og feðra og hefur staðið fyrir nokkrum málþingum; Eru pabbar óþarfir árið 1999, Jafnrétti til foreldra í apríl 2002 og Feður og börn á nýrri öld í maí 2004 og svo núna síðast veglegar ráðstefnur á feðradaginn 2006 og 2007. Síðasta ráðstefna var haldin í tengslum við afmælisár félagsins undir heitinu ”Réttindi barna við skilnað” að viðstöddum ráðherrum og forseta íslands. Félagið hefur einnig gefið út ýmislegt efni um málefnið.
Félagið hefur stóra 13 manna stjórn sem hittist á 1-2 vikna fresti ásamt félagsfundum einu sinni í mánuði. Félagið tekur ekki afstöðu í ágreiningsmálum einstaklinga en veitir ráðgjöf í síma félagsins 691-8644 eftir því sem tími vinnst til. Félagið einbeitir sér að breyttu lagaumhverfi og breytingum í stjórnsýslu. Félagið á nú fulltrúa í nefndum og ráðum um þessi málefni og lögskipaða setu í jafnréttisráði.
              </p>

            </div>

            <div class="col-lg">
              <img src="/media/assets/images/FJ-logo1-web-small.png" alt="" />
            </div>
          </div>

            <a href="./adild.html">
                        <button class="bg-accent btn_bg mt-4">
                          <div class="btn_bg-anim">
                            <span> <a href = 'adild'>Gerast félagið</a></span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24"
                            >
                              <path
                                d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"
                              ></path>
                            </svg>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24"
                            >
                              <path
                                d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"
                              ></path>
                            </svg>
                          </div>
                        </button>
                      </a>
        </div>
      </section>







 {% endblock body %}