{% extends 'base.html' %}
{% block title %} BLOG {% endblock title %}
{% load static %}
{% block body %}
{##}
{#        <section class="Hero">#}
{#            <article>#}
{#              <img class="background"#}
{#                src="/media/assets/images/FJ-photo-286625.jpg"#}
{#                   alt="" />#}
{##}
{#              <div class="container text-start">#}
{#                <h1>Umsagnir</h1>#}
{#              </div>#}
{#            </article>#}
{#            <div class="bottom">#}
{#              <img src="/media/assets/images/h1-rev-bottom.png" alt="" />#}
{#            </div>#}
{#          </section>#}

          <section class="About_section">
            <div class="container">

            </div>
          </section>

          <section class="Floating_posts">


            <div class="container posts">
              <div class="row">
                {% for i in Popular_post %}
                <div class="col-6">

                  <article>

                    <div class="poster position-relative">
                      <img src="/media/{{i.fetured_image}}" alt="" />
                      <div class="overlay">
                        <span class="svg_bg active">
                          <div class="svg_bg-anim">
                            <svg x="0px" y="0px" viewBox="0 0 14.1 28">
                              <polygon
                                class="st0"
                                points="1.9,0 0,2.3 1.3,4.8 1.6,6.6 2.2,7.7 3.7,9.5 3.2,9.8 3.7,10.9 3.7,11.8 3.4,12.8 2.6,13.7 3.2,14.8
                                 3.7,15.8 3.3,16.5 2.8,17.1 1.5,19.2 2.7,20.5 3.5,23.1 2.7,24.4 1.8,26.4 1.8,26.8 2.5,27.3 3.4,27.5 4.2,28 14.1,28 14.1,0 "
                              ></polygon>
                            </svg>
                            <span class="span"></span>
                            <svg x="0px" y="0px" viewBox="0 0 11.5 28">
                              <polygon
                                class="st0"
                                points="9.1,0 9.3,1.1 9.7,1.9 9.7,2.3 9.9,2.7 9.9,3.3 10.1,4 10.1,4.7 10.1,5.3 9.6,5.7 9.9,6.3 10.1,6.8
                                 10.7,7.3 10.7,7.6 10.6,7.9 10.7,8.9 10.7,9.5 11.5,10.6 11.2,11 11.5,11.2 10.9,11.8 10.5,12.5 10.7,12.7 11,12.7 11.1,12.9
                                 10.6,14.1 9.9,15 8.2,16.7 8.8,17.2 8.4,18 8.8,18.8 8.7,19.6 8.8,20.5 8.7,20.9 8.7,21.3 9.2,21.8 8.7,22.6 8.8,23 8.8,23.2
                                 9,23.4 8.6,23.7 8.4,24.4 8.4,24.9 7.9,25.2 7.6,26.1 7.9,26.8 8.5,27.6 6.9,28 0,28 0,0 "
                              ></polygon>
                            </svg>
                          </div>
                          <span class="italic">{{i.category}} </span>
                        </span>
                      </div>
                    </div>

                    <div class="py-3">
                      <div class="d-inline-block">
                        <div class="d-inline-block mx-2 link">
                          <i class="fa-solid fa-user"></i>
                          <span class="ms-2 fs-5 italic">{{i.author}}</span>
                        </div>

                        <div class="d-inline-block mx-2 link">
                         <i class="fa-solid fa-calendar-days"></i>
                          <span class="ms-2 fs-5 italic">{{i.date}}</span>
                        </div>
                      </div>
                      <h5>
                        <a href="{{i.slug}}" class="link">
                         {{i.title}}
                        </a>
                      </h5>
                    </div>
                  </article>

                </div>
                {% endfor %}

{#            <div class="container text-center">#}

{#Button MORE POSTS if needed one day when there would be enough posts                #}
{#              <button class="bg-accent btn_bg">#}
{#                <div class="btn_bg-anim">#}
{#                  <span>MORE POSTS</span>#}
{#                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">#}
{#                    <path#}
{#                      d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"#}
{#                    />#}
{#                  </svg>#}
{#                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">#}
{#                    <path#}
{#                      d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"#}
{#                    />#}
{#                  </svg>#}
{#                </div>#}
{#              </button>#}
            </div>
            </div>
          </section>
{% endblock body %}