{% extends 'base.html' %}
{% block title %} Skoðun {% endblock title %}
{% load static %}
{% block body %}


      <section class="Signup GetInTouch">
        <div class="container">
          <div class="row">
            <div class="col-lg">
              <img src="/media/assets/images/28532.jpg" alt="" />
            </div>

            <div class="col-lg">
              <span class="italic">Let´s your voice be heard</span>
              <h3>Submit a blog post /</

                <span class="spl">skoðun</span>
              </h3>
              <p>
                Please submit your opinion here
              </p>
              <form class="d-inline-block" method="post" action="/contact">


                <textarea

                  id=""
                  cols="30"
                  rows="8"
                  name="message"
                  placeholder="Your comment"
                ></textarea>
                <input type="text"  name="name" placeholder="Name" required/>
                <input type="text" name="email" placeholder="E-mail" required />
{#                <input type="file_pdf"  name="file" placeholder=" " />#}
                <button class="bg-accent btn_bg" type="submit" name="submit-form">
                  <div class="btn_bg-anim">
                    <span>SEND</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"
                      />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"
                      />
                    </svg>
                  </div>{% csrf_token %}
                </button>
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                  <strong>Message :</strong> {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
              </form>
            </div>
          </div>
        </div>
      </section>



    {% endblock body %}

