 {% extends 'base.html' %}
{% block title %} THANK YOU {% endblock title %}
{% load static %}
{% block body %}

        <section class="Hero">
            <article>
              <img
                class="background"
                src="/media/assets/images/FJ-photo-286625.jpg"
                alt=""
              />

              <div class="container text-start">
                <h1>THANK YOU</h1>
              </div>
            </article>
            <div class="bottom">
              <img src="/media/assets/images/h1-rev-bottom.png" alt="" />
            </div>
          </section>

    <h2 align="center"> THANK YOU <h2>
    <h3 align="center"><a href="/"> <font color="green" >...Back to Home page...</font> </a> </h3>

{% endblock body %}